*{margin:0; padding: 0; border: 0;}

/* HEADER */
header {
    background-color: rgb(40, 40, 65);
    height: 100px;
    display: flex;
    justify-content: center;
}

section {
    margin-bottom: 150px;
}

header figure {
    text-align: left;
    width: 600px;
    height: 100px;
}

header figure img {
    width: 80px;
    margin-top: 10px;
}

header figure img:hover {
   transform: scale(1.2);
}


header nav {   
    width: 600px;
    height: 100px;     
    text-align: right;
}

header nav ul {
    height: 40px;
    list-style-type: none;
    margin-top: 30px;   
}

header nav li {
    margin-left: 15px;
    width: 180px;
    display: inline-block;
}

header nav li a{
    text-align: center;
    background-color: violet;
    text-decoration: none;
    display: block;
    color: white;
    padding: 8px;
    border: 3px solid palevioletred;
    border-radius: 20px 5px;
    letter-spacing: 7px;
    
}

header nav li a:hover{
    border: 3px solid violet;
    background-color: palevioletred;
}


/* INTRODUCCION Y PEDIDO */
#pedirya {
    height: 500px;
    margin-bottom: 70px;
    background-image: url(../img/875019.jpg);
    background-repeat: no-repeat;
    background-position: 0px -450px;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    
}

#pedirya h1 { 
   margin-top: 100px;
   padding-bottom: 10px;
   display: inline-block;
   color: white;
   background-color: rgba(40, 40, 65, 0.9);
}


#pedirya p{
    color: wheat;
    border: none;
    width: 800px;
    padding: 10px;
    font-size: 22px;
    font-weight: 1000;
    background-color: rgba(40, 40, 65, 0.9);
    margin: 10px auto; 
    margin-bottom: 35px;
    
}

#pedirya h1:hover {
    transform: scale(1.2);
    transition: 1s;
    text-shadow: 2px -2px violet;
}

#pedirya p:hover{
    transform: scale(1.2);
    transition: 1s;
    margin-top: 20px;
    margin-bottom: 40px;
}

#pedirya a{
    border: solid 5px violet;
    text-decoration: none;
    padding: 15px;
    letter-spacing: 5px;
    word-spacing: 5px;
    width: 260px;
    height: 50px;
    border-radius: 20px;
    margin-top: 10px;
    font-weight: 900;
    background-color: rgb(40, 40, 65);
    color: wheat;
    transition:  1s;
    font-family: 'Varela Round', sans-serif;  
}

#pedirya a:hover {
    border: solid 5px black;
    background-color: wheat;
    color: black;
}
    

/* CATEGORIAS */
#categorias {
    text-align: center;
}

#categorias article{
    width: 150px;
    display: inline-block;
    transition: 0.5s;
}

#categorias figure img {
    width: 90px;
    border-radius: 50%;
}

#categorias article:hover{
   color: black;
   text-shadow: 1px 1px 2px white;
   transform: scale(1.5); 
}


/* MENU */
#contenidomenu{
    display: flex; 
    justify-content: center;
}

#contenidomenu h4{
    font-size: 20px;
    padding: 18px;
 }


#contenidomenu article, #contenidomenu aside{
    margin-top: 10px;
    padding-top: 10px;
    width: 300px;
    text-align: center;
    transition: 0.5s;
}

#contenidomenu aside ul {
   list-style-type: "★";
   list-style-position:  inside;
}

#contenidomenu aside li{
   text-align: center;
   padding: 4px;
   text-decoration: none;
 }

 #contenidomenu aside li a{
    text-decoration: none;
    color: black;
    font-family: 'Varela Round', sans-serif;
}

 #contenidomenu aside li:hover {
    font-size: 26px;
    text-decoration: underline;
    margin-bottom: 5px;
}

#contenidomenu figure img{
    border-radius: 20px;
    width: 80%;
}

#contenidomenu article:hover{ 
    transform: scale(1.2);
    padding: 20px;
}

@keyframes animacion {

    from {left:100%}
    to{left:0%}
}


/* FOTOS */
main h2:nth-child(3), #fotos h2 {
    position: relative;
    width: 1200px;
    margin: 0 auto 20px auto;
    animation: animacion 3s 2s 1;    
    border-bottom: solid 3px black;
    
}

#fotos {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 390px);
    grid-column-gap: 10px;
    grid-row-gap: 20px;   
    margin: 10px auto;   
    padding-bottom: 100px;
}

#fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

#fotos img:hover{
    transform: scale(1.5); 
}

#fotos h2{
    grid-column: 1/4;
    grid-row: 1/1;
}

#fotos figure:nth-of-type(1){
    grid-column: 1/2;
    grid-row: 2/5; 

}

#fotos figure:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 2/4;
}

#fotos figure:nth-of-type(3){   
    grid-column: 2/3;
    grid-row: 4/5; 
}

#fotos figure:nth-of-type(4){ 
    grid-column: 3/3;
    grid-row: 2/5;
}

/* CONTACTO */
#contacto {
    width: 100%;
    margin-bottom: 0px;
    padding: 30px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    background-color: rgb(40, 40, 65);
}


#contacto h2 {
    width: 200px;
    text-align: left;
    color: white;
    font-weight: 500;
    letter-spacing: 10px;
    text-decoration: underline palevioletred;   
}

#contacto form {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    justify-content: right;
    text-align: right;
}

#contacto input, select, textarea {
   font-family: 'Varela Round', sans-serif;
   border: solid palevioletred 1px;
   background-color: black;
   color: white;
   width: 400px;
   height: 40px;
   margin-bottom: 8px;
   padding: 5px;
}

#contacto input[type="text"]{
    text-transform: capitalize;
}

#contacto input::placeholder, select::placeholder, textarea::placeholder {
    color: white;
    font-family: 'Varela Round', sans-serif;
}
 
#contacto input:focus, select:focus, textarea:focus {
    background-color: rgba(255, 255, 255, 70%);
    color: black;
}

#contacto input:hover, textarea:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

select{
    width: 412px;
    height: 52px;
    font-family: 'Varela Round', sans-serif;
}

textarea {
    resize: none;
}

#contacto input[type="submit"] {

    width: 120px;
    height: 52px;
    background-color: violet;
    color: black;
    margin-top: -40px;
    float: right;  
    font-family: 'Varela Round', sans-serif;   
}

#contacto input[type="submit"]:hover {
    color: black;
    background-color: wheat;
    border: solid black ;
}


#contacto figure {
    width: 500px;
    text-align: right;
}

#contacto img {
   width: 90%;
   object-fit: scale-down;
   transition: 0.5s;
}

#contacto img:hover {
    transform: scale(2);
}


/* BODY */
body {
    background-image: url(../img/gradientbg.jpg);
    background-repeat: repeat;
}

a {
    text-decoration: none;
    color: black; 
}

p, li {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

h1 {
    font-size: 50px;
    padding: 10px;
}


h2 {
    font-size: 25px;
}

h3, h4 {
    letter-spacing: 3px;
}

h1, h2, h3, h4 {
    font-family: 'Alfa Slab One', cursive;

}

h1, h2 {
    letter-spacing: 15px;
}

ul{
    letter-spacing: 2px;
}


/* FOOTER */
footer {
    padding-bottom: 5px;
    padding-top: 30px;
    text-align: center; 
}

footer ul{
    padding: 10px;
    list-style: none; 
}

footer h3 {
    text-decoration: underline;
}

footer li{
    margin: 3px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;  
}

footer li:nth-of-type(1) {
    background-position: 0 0;
}

footer li:nth-of-type(2) {
    background-position: -32px 0;
}

footer li:nth-of-type(3) {
    background-position: -64px 0;
}

footer li:nth-of-type(1):hover {
    transform: scale(1.2);
    background-position: 0 -32px;
}

footer li:nth-of-type(2):hover {
    transform: scale(1.2);
    background-position: -32px -32px;
}

footer li:nth-of-type(3):hover {
    transform: scale(1.2);
    background-position: -64px -32px;
}

footer p{
    font-size: 12px;
    margin-top: 15px;
    animation: pdelfooter 5s 1s infinite;
}


@keyframes pdelfooter {
    from{color: black;} 
    50% {color: transparent}
    to{color: black;}
}